.about{
  color: white;
  flex-grow: 1;
  margin: 80px 3% 0
}

.profile-pic {
  height: 32vh;
  border-radius: 100%;
  box-shadow: 5px 3px 0px 10px rgba(135,14,159,.6), 12px 8px 0 10px rgba(45,30,138,.6);
}