$stars: 300;
$gravitation-constant: 6.673;

body{
  background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');



.header{
  height: 60vh;
  width: 100vw;
  background: rgb(45,30,138);
  background: linear-gradient(150deg, rgba(45,30,138,1) 0%, rgba(78,0,199,1) 50%, rgb(135, 14, 159) 100%);
  position: relative;
  top: 0;
  overflow: hidden; 
  z-index: 1;
  padding: 0; 
}

.name{
  color: white;
  font-family: 'Megrim', cursive;
  font-size: 5rem;
  margin-top: 10%;

}

.title{
  color: white;
  font-family: 'Megrim', cursive;
  font-size: 3rem;
}

.star {
  background-color: white;
  border-radius: 100%;
  position: absolute;
  filter: brightness(5);
  z-index: 2;
}

@for $i from 1 through $stars {
  .star:nth-of-type(#{$i}) {
    margin-left: random(4000) + px;
    margin-top: random(2000) + px;
    $size: random(3) + px;
    width: $size;
    height: $size;
    animation: flash random(10) + 1 + s cubic-bezier(1, .8, .5, 1) infinite;
  }
}

// Animate Stars
@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.stars {
  animation: gravity 800s linear infinite;
  width: 200%;
  height: 200%;
  position: fixed;
  z-index: -2;
}

@keyframes gravity {
  to {
    transform: rotate(360deg);
  }
}


// PLANETS
.planets {
  margin: -70px 0 0 -390px;
  width: 768px;
  transform: scale(1.3);
  z-index: -1;
  position: absolute;
}

// Planets & Sun
.sun {
  background: linear-gradient(90deg, #BB513E, darken(#BB513E, 9%));
  box-shadow: inset 15px 10px 0px darken(#BB513E, 9%);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 105px auto;
  position: absolute;
  left: 0;
  right: 0;
}

.mercury {
  background: linear-gradient(90deg, #453217, darken(#453217, 7%));
  box-shadow: inset 0px 7px 0px darken(#453217, 7%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  
  margin-top: 1 * 10 + px;
}

.venus {
  background: linear-gradient(90deg, #AC6339, darken(#AC6339, 7%));
  box-shadow: inset 0px 7px 0px darken(#AC6339, 12%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  
  margin-top: 3 * 10 + px;
}

.earth {
  background: linear-gradient(90deg, #3E8EBB, darken(#3E8EBB, 7%));
  box-shadow: inset 0px 7px 0px darken(#3E8EBB, 12%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  
  margin-top: 7 * 10 + px;
}

.mars {
  background: linear-gradient(90deg, #6F3125, darken(#6F3125, 7%));
  box-shadow: inset 0px 7px 0px darken(#6F3125, 9%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  
  margin-top: 11 * 10 + px;
}

.jupiter {
  background: linear-gradient(90deg, #3D2C14, darken(#3D2C14, 7%));
  box-shadow: inset 0px 7px 0px darken(#3D2C14, 5%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  
  margin-top: 16 * 10 + px;
}

.saturn {
  background: linear-gradient(90deg, #E97340, darken(#E97340, 7%));
  box-shadow: inset 0px 7px 0px darken(#E97340, 14%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  
  margin-top: 20 * 10 + px;
}

.uranus {
  background: linear-gradient(90deg, #337799, darken(#337799, 7%));
  box-shadow: inset 0px 7px 0px darken(#337799, 12%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  
  margin-top: 24 * 10 + px;
}

.neptune {
  background: linear-gradient(90deg, #6ACDC0, darken(#6ACDC0, 7%));
  box-shadow: inset 0px 7px 0px darken(#6ACDC0, 17%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  
  margin-top: 28 * 10 + px;
}

.pluto {
  background: linear-gradient(90deg, #C6C053, darken(#C6C053, 7%));
  box-shadow: inset 0px 7px 0px darken(#C6C053, 12%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  
  margin-top: 32 * 10 + px;
}

// Planets Orbit
[class*="-orbit"] {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #860E9F;
  // box-shadow: 0px 1px 1px #4d0a5b;
  border-radius: 100%;
}

.mercurys-orbit {
  width: 1 * 100 + px;
  height: 1 * 100 + px;

  margin: 85px auto;
  
  animation: gravity $gravitation-constant * 0.72 + s linear infinite;
}

.venus-orbit {
  width: 2 * 100 - 30 + px;
  height: 2 * 100 - 30 + px;

  margin: 50px auto;
  
  animation: gravity $gravitation-constant * 5.76 + s linear infinite;
}

.earths-orbit {
  width: 3 * 100 - 30 + px;
  height: 3 * 100 - 30 + px;

  margin: 0px auto;
  
  animation: gravity $gravitation-constant * 3 + s linear infinite;
}

.mars-orbit {
  width: 4 * 100 - 30 + px;
  height: 4 * 100 - 30 + px;

  margin: -50px auto;
  
  animation: gravity $gravitation-constant * 5.67 + s linear infinite;
}

.jupiters-orbit {
  width: 5 * 100 - 30 + px;
  height: 5 * 100 - 30 + px;

  margin: -100px auto;
  
  animation: gravity $gravitation-constant * 10 + s linear infinite;
}

.saturns-orbit {
  width: 6 * 100 - 30 + px;
  height: 6 * 100 - 30 + px;

  margin: -150px auto;
  
  animation: gravity $gravitation-constant * 20 + s linear infinite;
}

.uranus-orbit {
  width: 7 * 100 - 30 + px;
  height: 7 * 100 - 30 + px;

  margin: -200px auto;
  
  animation: gravity $gravitation-constant * 30 + s linear infinite;
}

.neptunes-orbit {
  width: 8 * 100 - 30 + px;
  height: 8 * 100 - 30 + px;

  margin: -250px auto;
  
  animation: gravity $gravitation-constant * 40 + s linear infinite;
}

.plutos-orbit {
  width: 9 * 100 - 30 + px;
  height: 9 * 100 - 30 + px;

  margin: -300px auto;
  margin-left: -50px;
  
  animation: gravity $gravitation-constant * 50 + s linear infinite;
}

